@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&family=Montserrat:wght@400;500;600&family=Playfair:ital,wght@0,300;1,300&family=Roboto+Slab&display=swap');

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #E06469;
    color: black;
}

hr{
    height: 3px;
    color: whitesmoke;
    background: black;
}

.heading{
    color: white;
    font-family: 'Playfair', serif;
    font-weight: normal; 
}

.main{
    display: flex;
}

.right {
    border: 5px solid white;
    height: 600px;
    width: 50%;
    margin-right: 50px;
    border-radius: 30px;
    background-color: whitesmoke;
}

.right button{
    margin: 20px;
    height: 50px;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
    left: 20px;
    border: 5px solid white;
    height: 400px;
    width: 40%;
    margin-right: 50px;
    background-color: whitesmoke;
}

.left input{
    width: 200px;
    height: 30px;
    margin: 7px;
    border: 3px solid black;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}

.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
}

.btn-con{
    position: absolute;
    bottom: 20%;
    padding: 10px;
    width: 20rem;
    background-color: #E06469;
    border: none;
    border: 5px solid #d15054;
    cursor: pointer;
}

.upper{
    text-align: center;
}

.total{
    text-align: center;
}

.back{
    background-color: #E06469;
    border: 5px solid #d15054;
    cursor: pointer;
}